<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo List</title>
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
    <div class="container mt-5">
    <nav class="navbar navbar-white bg-light">
    <a class="navbar-brand" href="/clucks"><img src="/assets/head_logo.png" width="72" height="72">Home</a>
    <a href="/clucks/new"><button type="button" class="btn btn-dark">Cluck!</button></a>
    <% if (username) {%>
            <form action="/sign_out" method="POST">
                <label for="sign_out"><span class="badge badge-pill badge-danger"><%= username %></span></label>
                <button name="sign_out" type="submit" class="btn btn-link">Sign Out</button>
                </form>
            <% } %>
        </nav>
