<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo List</title>
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
    <div class="container mt-5">
        <nav class="navbar navbar-white bg-light">
            <a class="navbar-brand" href="/"><img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/320/twitter/53/chicken_1f414.png" width="72" height="72">Home</a>
            <a href="/clucks">View Clucks</a>
            <a href="/clucks/new">New Cluck</a>
            <a href="/sign_out">Sign Out</a>
        </nav>
